

.about-container {
    display: flex;
    flex-direction: column;
    height: 600px;
    gap: 1rem;
    padding: 10px 75px;
    border-bottom: 2px #000 solid;
}

.about-section {
    text-align: center;
}

.stack-container {
    display: flex;
}