.about-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 60px 75px;
    background-color: rgb(238, 233, 227);
}

.about-section {
    line-height: 30px;
}

.stack-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1rem;
    border-radius: 10px;
}

.stack-container img {
    padding: 10px;
    width: 60px;
}