.contact {
  padding: 25px 75px 75px 75px;
  background-color: #f2f2f2;
}

.contact-container {
  display: grid;
  gap: 7rem;
  grid-template-columns: 1fr 1fr;
  padding: 75px;
}

@media screen and (max-width: 1050px) {
  .contact .above-section {
    justify-content: center;
    font-size: 14px;
  }
  .contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    padding: 30px;
  }
  .contact-form {
    max-width: auto;
  }
}

@media screen and (max-width: 850px) {
  .contact .contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    padding: 0;
  }
  .contact .above-section {
    justify-content: center;
    font-size: 13px;
  }
  .contact .contact-details {
    gap: 2rem;
  }
}

@media screen and (max-width: 650px) {
  .contact {
    padding: 30px 50px 30px 50px;
  }
  .contact .above-section {
    justify-content: center;
    font-size: 12px;
  }
  .contact .contact-form {
    width: 300px;
  }
  .contact .contact-details {
    gap: 1rem;
  }
  #message {
    height: 150px !important;
  }
  .contact-email,
  .contact-number {
    font-size: 14px;
    gap: 1.5rem !important;
  }
  .contact-email label,
  .contact-number label {
    font-size: 17px;
  }
  .contact-info {
    justify-content: center !important;
  }
  .contact-details #img-email,
  .contact-details #img-phone {
    width: 20px;
    height: 20px;
    padding: 10px;
    align-items: center;
    border-radius: 10px;
    align-self: center;
  }
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 450px;
  gap: 1rem;
  padding: 10px;
  justify-content: center;
  justify-self: end;
}

.form-input {
  padding: 10px;
  border: 0;
  border-radius: 10px;
}

.form-input:hover {
  box-shadow: 0 1px 6px 0 #20212447;
}

.form-input:focus {
  outline: none;
}

#message {
  height: 200px;
}

.btn-message {
  background-color: #9c81e6;
  color: #ffffff;
  padding: 10px;
  border: 0;
  border-radius: 10px;
}

.btn-message:hover {
  box-shadow: 0 1px 6px 0 #20212447;
}

.contact-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
}

.contact-email,
.contact-number {
  display: flex;
  gap: 2rem;
}

.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#img-email,
#img-phone {
  background-color: #e2dbf7;
  width: 30px;
  height: 30px;
  padding: 15px;
  align-items: center;
  border-radius: 10px;
  align-self: center;
}

#email,
#phone {
  margin: 0;
  color: #8c8c8c;
}

label {
  font-size: 20px;
}
