.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 50px 25px 50px;
}

.footer .social-list {
    justify-content: space-around;
    padding: 0;
}

.footer .social-item {
    background-color: #e2dbf7;
    width: 25px;
    height: 25px;
    padding: 10px;
    border-radius: 50%;
}

.footer .social-item:hover {
    box-shadow: 0 1px 6px 0 #20212447
}

.footer-copyright {
    text-align: center;
}