.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.3rem;
  padding: 0 75px;
  background-color: #f2f2f2;
}

.header-logo-name {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo {
  width: auto;
  height: 50px;
  border-radius: 50%;
}

.header .mobile-navigation {
  display: none;
}

.nav-bar {
  display: flex;
  gap: 3rem;
}

.nav-bar > a {
  align-self: center;
}

.nav-bar-link:hover {
  color: #9c81e6;
}

.nav-bar-list {
  display: flex;
  gap: 1.5rem;
  list-style: none;
}

.nav-bar-list > li {
  padding: 5px;
}

.btn-resume {
  background-color: #ffffff;
  width: fit-content;
  height: 35px;
  align-self: center;
  border-radius: 8px;
  border: 1px #000 solid;
}

.btn-resume:hover {
  box-shadow: 0 1px 6px 0 #20212447;
}

@media screen and (max-width: 800px) {
  .header {
    padding: 0 50px !important;
  }
  .header .navigation {
    display: none;
  }
  .header .mobile-navigation {
    display: flex;
    align-items: center;
  }
  .mobile-navigation .hamburger-icon,
  .mobile-navigation .close-icon{
    position: absolute;
    right: 6%;
    font-size: 30px;
    cursor: pointer;
  }
  .nav-bar .nav-bar-list {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    gap: 0;
    top: 50px;
    width: 100%;
    right: 0;
    width: 100%;
    background-color: rgba(22, 21, 21, 0.70);
  }
  .nav-bar-list .nav-bar-link {
    color: #ffffff;
    text-align: center;
  }
  .nav-bar-list #btn-resume:hover {
    background-color: #000;
    color: #ffffff;
    box-shadow: 0 1px 6px 0 #ffffff
  }
  .header .btn-resume {
    border: none;
  }
}

@media screen and (max-width: 500px) {
  .header {
    font-size: 15px !important;
    padding: 5px 20px !important;
  }
  .nav-bar-item .btn-resume {
    height: auto;
  }
}

@media screen and (max-width: 400px) {
  .header {
    font-size: 13px !important;
    padding: 5px 20px !important;
  }
}