/* .header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} */

.header {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
}

.header-name {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.nav-bar-list {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.nav-bar-list > li {
    padding: 5px;
}

.btn-resume {
    width: fit-content;
    justify-self: center;
}