.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.3rem;
  padding: 0 75px;
  background-color: #f2f2f2;
}

.header-logo-name {
  display: flex;
  align-items: center;
  gap: 1rem
}

.logo {
  width: auto;
  height: 50px;
  border-radius: 50%;
}


.nav-bar {
  display: flex;
  gap: 3rem;
}

.nav-bar > a {
  align-self: center;
}

.nav-bar-link:hover {
  color: #9c81e6;
}

.nav-bar-list {
  display: flex;
  gap: 1.5rem;
  list-style: none;
}

.nav-bar-list > li {
  padding: 5px;
}

.btn-resume {
  background-color: #ffffff;
  width: fit-content;
  height: 35px;
  align-self: center;
  border-radius: 8px;
  border: 1px #000 solid
}

.btn-resume:hover {
  box-shadow: 0 1px 6px 0 #20212447;
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  padding: 0 75px;
}

@media screen and (max-width: 1279px) {
  .main {
      display: flex;
      flex-direction: column;
  }
}

.dash {
  font-size: 2rem;
}

.name-section {
  align-self: center;
  margin-left: 75px
}

.above-section {
  display: flex;
  align-items: center;
  font-weight: 700;
  letter-spacing: 1rem;
  text-transform: uppercase;
}

.name-section-title {
  font-size: 3rem;
  font-weight: 700;
}

.name-section-title-span {
  color: #8b68f2
}

.name-section-description {
  padding: 10px 0;
  font-size: 1.3rem;
}

.main-photo-box .profile-img {
  /* background-image: url(../images/profile-2.png); */
  /* object-position: cover; */
  width: fit-content;
  height: 500px;
  margin: 100px;
  border: 1px solid #000;
  border-radius: 25px;
  box-shadow: 0 1px 6px 0 #20212447
}

.social-list {
  display: flex;
  gap: 4rem;
  padding-top: 15px;
}

.social-item {
  width: 25px;
  height: 25px;
  padding: 10px;
  border-radius: 50%;
}

.social-item:hover {
  box-shadow: 0 1px 6px 0 #20212447
}