.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

/* .header {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
} */

.header-name {
}

.nav-bar {
    display: flex;
    gap: 30px;
}

.nav-bar-list {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.nav-bar-list > li {
    padding: 5px;
}

.btn-resume {
    width: fit-content;
    justify-self: center;
    border-radius: 25%;
}

.main {
    display: grid;
    grid-template-columns: 1fr 600px;
    /* gap: 1.5rem; */
    padding: 10px;
}

.name-section {
    justify-self: center;
    /* padding-left: 200px; */
    align-self: center;
}
.main-photo-box {
    background-image:  url(../images/profile.jpeg);
    background-size: cover;
    height: 600px;
    margin: 100px;
    border: 2px solid #000;
    border-radius: 10px;
}

.social-list {
    display: flex;
    justify-content: flex-start;
    gap: 1.3rem;
}
