.section {
  padding: 75px;
}

.title-section {
  padding-bottom: 25px;
  font-size: 2.5rem;
  font-weight: 400;
}

.projects-container {
  display: grid;
  gap: 5rem;
  grid-template-columns: 1fr 1fr 1fr;
}

@media screen and (max-width: 1800px) {
  .projects-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 1200px) {
  #project {
    padding: 60px
  }
  .projects-container {
    gap: 3rem
  }
  .project-card .project-buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }
  .project-card .project-name,
  .project-card .project-description {
    margin: 15px;
    padding: 0
  }
}

@media screen and (max-width: 1000px) {
  #project {
    padding: 50px
  }
  .project-card .project-name {
    font-size: 20px;
    margin-bottom: 13px;
  }
  .project-card .project-description {
    font-size: 17px !important;
    line-height: 25px;
    margin-top: 13px;
  }
}

@media screen and (max-width: 800px) {
  #project {
    padding: 50px 70px
  }
  .section {
    padding: 60px;
    padding-top: 50px;
  }  
  .projects-container {
    display: grid;
    grid-template-columns: 1fr;
  }
  .section .above-section {
    justify-content: center;
    font-size: 13px;
  }
  .section .title-section {
    font-size: 30px;
    text-align: center;
    margin: 0;
    padding-bottom: 40px;
  }
  .project-card .project-name {
    font-size: 25px;
    margin-bottom: 13px;
  }
  .project-card .project-description {
    font-size: 19px !important;
    line-height: 25px;
    margin-top: 13px;
  }
}

@media screen and (max-width: 550px) {
  .project-card .project-name {
    font-size: 20px;
    margin-bottom: 5px;
  }
  .project-card .project-description {
    font-size: 17px !important;
    margin: 5px;
  }
  .project-card .project-buttons > a {
    padding: 10px 30px;
    min-width: 100px;
  }
}

@media screen and (max-width: 500px) {
  #project {
    padding: 30px 40px;
  }
  .projects-container {
    gap: 2.5rem
  }
  .section .above-section {
    justify-content: center;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 12px;
  }
  .section .title-section {
    font-size: 27px;
    justify-self: center;
    margin: 0;
  }
  .project-card .project-name {
    font-size: 19px;
    margin-bottom: 5px;
  }
  .projects-container .project-card .project-description {
    font-size: 16px !important;
    line-height: 21px;
    padding: 10px;
    margin: 5px;
  }
  .project-card .project-buttons > a {
    padding: 10px 10px;
    min-width: 100px;
  }
}

.project-card {
  display: flex;
  flex-direction: column;
  height: auto;
  border: 2px solid #000;
  border-radius: 10px;
  box-shadow: 0 1px 6px 0 #20212447;
}

.project-name {
  text-align: center;
  padding-top: 10px;
  font-size: 1.5rem;
}

.project-card .project-description {
  text-align: center;
  line-height: 30px;
  padding: 0 50px;
  font-size: 1.2rem;
}

.project-buttons {
  display: flex;
  padding: 20px;
  justify-content: space-around;
}

.project-buttons > a {
  display: grid;
  place-items: center;
  font-size: 1.5rem;
  padding: 10px 30px;
  min-width: 140px;
  max-width: 140px;
  height: 40px;
  border: 2px #000 solid;
  border-radius: 10px;
}

.project-buttons > a:hover {
  background-color: #000;
  color: #ffffff;
  box-shadow: 0 1px 6px 0 #20212447;
}

.site-button {
  align-self: center;
}