.section {
  padding: 75px;
}

.title-section {
  padding-bottom: 25px;
  font-size: 2.5rem;
  font-weight: 400;
}

.projects-container {
  display: grid;
  gap: 5rem;
  grid-template-columns: 1fr 1fr 1fr;
}

.project-card {
  display: flex;
  flex-direction: column;
  height: 650px;
  border: 2px solid #000;
  border-radius: 10px;
  /* box-shadow: 3px 5px 7px 1px lightgray; */
  box-shadow: 0 1px 6px 0 #20212447
}

.project-name {
  text-align: center;
  padding-top: 10px;
  font-size: 1.5rem;
}

.project-description {
  text-align: center;
  line-height: 30px;
  padding: 0 50px;
  font-size: 1.2rem !important;
}

.project-buttons {
  display: flex;
  padding: 20px;
  justify-content: space-around;
}

.project-buttons > a {
  display: grid;
  place-items: center;
  /* background-color: #000; */
  /* color: #ffffff; */
  font-size: 1.5rem;
  padding: 10px 30px;
  width: 140px;
  height: 40px;
  border: 1px #000 solid;
  border-radius: 10px;
}

.project-buttons > a:hover {
  /* background-color: #000;
  color: #ffffff; */
  box-shadow: 0 1px 6px 0 #20212447
}

.project-buttons img {
  width: auto;
  height: 60%;
}

a:visited {
  color: #000;
}

.site-button {
  align-self: center;
}